{{ if eq .chezmoi.os "windows" }}
    .zshrc
    .config/sheldon/**
    .config/zsh/**
{{ end }}

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    .config/wezterm/**
{{   end }}
{{ end }}

{{ if ne .chezmoi.os "windows" }}
    Documents/**
{{ end }}