[user]
    name = uvu1
    email = 53385458+uvu1@users.noreply.github.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKBASQWjEFevq1IhdQ2aft+weTImIFDfrjPKKOBiqL8r
[gpg]
    format = ssh
[gpg "ssh"]
    {{ if eq .chezmoi.os "linux" }}
        {{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
        program = "/mnt/c/Users/uvu/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe"
        {{   end }}
    {{ else if eq .chezmoi.os "darwin"}}
        program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
    {{ else if eq .chezmoi.os "windows"}}
        program = "C:\\Users\\uvu\\AppData\\Local\\Microsoft\\WindowsApps\\op-ssh-sign.exe"
    {{ end }}
[commit]
    gpgsign = true
[url "git@github.com:"]
    insteadOf = https://github.com
[ghq]
    root = ~/repo

{{ if not eq .chezmoi.os "darwin" }}
[core]
    {{ if eq .chezmoi.os "windows" }}
    sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe"
    {{ else if eq .chezmoi.os "linux" }}
    {{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    sshCommand = ssh.exe
    {{   end }}
{{ end }}
