[user]
    name = uvu1
    email = 53385458+uvu1@users.noreply.github.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKBASQWjEFevq1IhdQ2aft+weTImIFDfrjPKKOBiqL8r
[gpg]
    format = ssh
[gpg "ssh"]
    {{- if eq .chezmoi.os "windows" }}
    program = "C:\\Users\\{{ .username }}\\AppData\\Local\\1Password\\app\\8\\op-ssh-sign.exe"
    {{- end}}
    {{- if eq .chezmoi.os "darwin" }}
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
    {{- end}}
    {{- if eq .chezmoi.os "linux" }}
    {{      if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    program = "/mnt/c/Users/{{ .username }}/AppData/Local/1Password/app/8/op-ssh-sign-wsl"
    {{      end}}
    {{- end}}
[commit]
    gpgsign = true
[core]
    editor = vim
    {{- if eq .chezmoi.os "linux" }}
    {{      if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
	sshCommand = ssh.exe
    {{      end}}
    {{- else if eq .chezmoi.os "windows" }}
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
    {{- end}}
[init]
    defaultBranch = main
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[ghq]
	root = ~/repos
    user = uvu1
[url "git@github.com"]
    insteadOf = https://github.com

